<!-- <ng-container  *ngIf="headers"
>
<div class="top-menu">
  <img src="../../assets/logo.jpg" alt="logo" />
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <ng-container *ngFor="let header of headers">
    <li class="nav-item" >
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        [routerLink]="header.link"
        role="tab"
        aria-controls="profile"
        aria-selected="true"
        >{{ header.name }}</a
      >
    </li>
  </ng-container>
</ul>
</ng-container> -->


<router-outlet></router-outlet>